In [3]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np
import random
import difflib

In [4]:
billboard = pd.read_csv("/Users/irenewalken/Documents/GitHub/Ironhack_Labs/Spotify_web_scraped.csv")
billboard

    Unnamed: 0                           singers                    songs
0            0                      Harry Styles                as it was
1            1                        Steve Lacy                bad habit
2            2                      Harry Styles       late night talking
3            3                Nicky Youre & dazy                  sunroof
4            4                             Lizzo          about damn time
..         ...                               ...                      ...
95          95                     Morgan Wallen  thought you should know
96          96                        Luke Bryan               country on
97          97                        Steve Lacy                   static
98          98                      Armani White           billie eilish.
99          99  Romeo Santos & Justin Timberlake                  sin fin

[100 rows x 3 columns]

In [5]:
billboard = billboard.drop(labels='Unnamed: 0', axis=1)
billboard

                             singers                    songs
0                       Harry Styles                as it was
1                         Steve Lacy                bad habit
2                       Harry Styles       late night talking
3                 Nicky Youre & dazy                  sunroof
4                              Lizzo          about damn time
..                               ...                      ...
95                     Morgan Wallen  thought you should know
96                        Luke Bryan               country on
97                        Steve Lacy                   static
98                      Armani White           billie eilish.
99  Romeo Santos & Justin Timberlake                  sin fin

[100 rows x 2 columns]

In [6]:
billboard.loc[billboard['songs']=='static']

       singers   songs
97  Steve Lacy  static

In [7]:
def random_music_func(x):
    choosen = random.choice(billboard['songs'].values)
    return choosen

In [14]:
difflib.get_close_matches(song_name, billboard['songs'])

['static', 'stay', 'tarot']

In [22]:
while 1:
    song_name = str(input("Pic your song: ")).lower()
    
    if song_name in billboard['songs'].values:
        n = song_name
        #new_list = [el for el in billboard['songs'].values if el != n]
        print(song_name.upper() +" is in the Bilboard hot list")
        print("Nice choice, we recommend you to try another song: "+random_music_func(song_name))#new_list ).upper())
        break
    elif difflib.get_close_matches(song_name, billboard['songs']):
        print("Do try to find ", difflib.get_close_matches(song_name, billboard['songs'])[0]+ " ?")
        song_name2 = input()
        if song_name2 == "yes":
            print("Nice choice, we recommend you to try another song: "+random_music_func(song_name).upper())
            break
        elif song_name2 == "no":
            print("Unfortunately, the song is not in the hot list!")
            break
        else:
            print("Unfortunately, the song is not in the hot list!")
            break  
    else:
        print("Unfortunately, the song is not in the hot list!")
        break

Pic your song: stati
Do try to find  static ?
yes
Nice choice, we recommend you to try another song: SLEAZY FLOW